extends layout

block content
  h1 用户详情

  p 用户名 
    span #{user.username}

  p 学号 
    span #{user.sid}

  p 电话 
    span #{user.phone}

  p 邮箱 
    span #{user.email}
 
  div.buttons
    a.signout(href='/signout') 退出
