extends layout

block content
  h1 用户登录
  form(id='signin' method='post')
    if error
      div.error.server!= error
    div.field
      label(for='username') 用户名
      input(id='username', name='username')
      span.error 

    div.field
      label(for='password') 密码
      input(id='password', name='password' type='password')
      span.error 

    div.buttons
      input.button.reset(type='reset' value='清除')
      input.button.submit(type='submit' value='登录')
      a.switch-signin-signup(href='/signup') 注册

