doctype
html(ng-app="myApp")
	head
		meta(charset='utf8')
		base(href='/')
		title Angular Express Seed App
		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/css/search.css')
		link(rel='stylesheet', href='/css/font-awesome/css/font-awesome.min.css')
		script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js')
	body
		block body
